body{
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.img_title{

}
.block_div{
  padding: 10px;
  border-style: ridge;
  border-radius: 15px;
  margin-top: 5px;
  box-shadow: .3px .4px #888888;
}

#outer_div{
  width: 70%;
}


#head_div{
    background-color: #3367d6;
}

#comic_div{

}

#img_elem{
  max-width: 100%;
}

.img_title{
  align: center;
}
.controls{
  margin: 10px;
}
